
<!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit borders">
        <h1 style="font-size: 2.7em;">There's no place like home.</h1>
        <p>Palisades Painting is a local painting company with over 35 years of experience serving the greater Los Angeles community. We've built our reputation based on honesty and beautiful results working on small homes and large development projects.</p>
        <p><a class="btn custom-btn btn-large" href=<%= projects_path %>>Learn more &raquo;</a></p>
      </div>
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container-fluid marketing rowcol">

      <!-- START THE FEATURETTES -->
<hr>
<br>
<br>
      <div class="featurette borders">
        <img class="featurette-image pull-right" src="http://farm6.staticflickr.com/5495/9418354333_2bf7af8be0_o.jpg">
        <h2 class="featurette-heading">We dream in green. <span class="muted">Do you?</span></h2>
        <p class="lead">This development project is an example where we worked on LEED Platinum certified homes from interior to exterior. Set your standards high because we pay attention to detail.</p>
      </div>
<br>    
  <!--<hr class="featurette-divider"> -->
<br>
      <div class="featurette borders">
        <img class="featurette-image pull-left" src="http://farm8.staticflickr.com/7367/9592752937_28d7aa0dbc_o.jpg">
        <h2 class="featurette-heading">We bring your ideas to life. <span class="muted">Customize.</span></h2>
        <p class="lead">You have the freedom to design your home. We can work with your vision and iterate to find the perfect solution.</p>
      </div>
<br>
      <!--<hr class="featurette-divider">-->
<br>
      <div class="featurette borders">
        <img class="featurette-image pull-right" src="http://farm4.staticflickr.com/3724/9421118410_bb1b1c6726_o.jpg">
        <h2 class="featurette-heading">We are with you.<span class="muted">Every step.</span></h2>
        <p class="lead">Not sure what to get? We've done this before, many times. We can help you decide on the right furnishings for your home based on our previous experience with our customers.</p>
      </div>
      <!-- /END THE FEATURETTES -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>
  <script src= "http://web.mit.edu/user/s/a/saulopez/www/bootstrap.min.js"></script>
          <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script> 


