<!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit borders">
        <h1 style="font-size: 2.7em;">Experience matters.</h1>
        <p>We've worked on commercial development projects, small detail jobs in residential homes, multimillion dollar mansions, and everything in between. We've seen it all. Someone with experience will get the job done right the first time. We also enjoy supporting our clients for touch-up jobs to ensure that you are satisfied with your home.</p>
        <p><a class="btn custom-btn btn-large" href=<%= contact_path %>>Contact us &raquo;</a></p>
      </div>
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container-fluid marketing rowcol">

      <!-- START THE FEATURETTES -->
<hr>
<br>
<br>
      <div class="featurette borders">
        <img class="featurette-image pull-right" src="http://farm8.staticflickr.com/7452/9418134113_2b62c0524c_o.jpg">
        <h2 class="featurette-heading">More than just paint. <span class="muted">Color.</span></h2>
        <p class="lead">We have some of the best color-matchers in the business at our disposal. Our trusted suppliers will ensure that your request are met in a timely fashion. We have trusted contractors in the industry that we can recommend for all your development requirements.</p>
      </div>
<br>    
  <!--<hr class="featurette-divider"> -->
<br>
      <div class="featurette borders">
        <img class="featurette-image wide-image pull-left" src="http://farm4.staticflickr.com/3708/9592814509_8ea087f07f_o.jpg">
        <h2 class="featurette-heading">Beautiful.<span class="muted"> From the inside out.</span></h2>
        <p class="lead">We've worked on modern homes, as well as 100 year old homes. We pride ourselves in being able to deliver our projects with unmatched quality.</p>
      </div>
<br>
      <!--<hr class="featurette-divider">-->
<br>
      <div class="featurette borders">
        <img class="featurette-image pull-right" src="http://farm8.staticflickr.com/7410/9418134077_8ed60d57c5_o.jpg">
        <h2 class="featurette-heading">It's your home.<span class="muted">Love where you live.</span></h2>
        <p class="lead">We are licensed and bonded. It's your home and your family. Ease your worries and choose a company you can trust.</p>
      </div>
      <!-- /END THE FEATURETTES -->