<!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit borders">
        <h1 style="font-size: 2.7em;">Hello, world!</h1>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodoelis euismod semper cursus. Fusce dapibus, tellus ac cursus commodo.</p>
        <p><a class="btn custom-btn btn-large" href=<%= contact_path %>>Contact us &raquo;</a></p>
      </div>
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container-fluid marketing rowcol">

      <!-- START THE FEATURETTES -->
<hr>
<br>
<br>
      <div class="featurette borders">
        <img class="featurette-image pull-right" src="http://farm8.staticflickr.com/7452/9418134113_2b62c0524c_o.jpg">
        <h2 class="featurette-heading">First featurette headling. <span class="muted">It'll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
<br>    
  <!--<hr class="featurette-divider"> -->
<br>
      <div class="featurette borders">
        <img class="featurette-image wide-image pull-left" src="http://farm4.staticflickr.com/3708/9592814509_8ea087f07f_o.jpg">
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
<br>
      <!--<hr class="featurette-divider">-->
<br>
      <div class="featurette borders">
        <img class="featurette-image pull-right" src="http://farm8.staticflickr.com/7410/9418134077_8ed60d57c5_o.jpg">
        <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <!-- /END THE FEATURETTES -->